In [51]:
import json
import numpy as np
import pandas as pd

In [52]:
PATH='datasets/'
csvfiles = ['links.csv','movies.csv','ratings.csv']

# load movielens datasets

def loadMovieLens(path=PATH):
    linksdf = pd.read_csv(path+csvfiles[0])
    moviesdf = pd.read_csv(path+csvfiles[1])
    ratingsdf = pd.read_csv(path+csvfiles[2])
    
    return linksdf, moviesdf, ratingsdf

In [53]:
linksdf, moviesdf, ratingsdf = loadMovieLens()

## moviesdf + linksdf

In [54]:
moviesdf['imdbId'] = linksdf.imdbId

In [56]:
moviesdf.head()

,movieId,title,genres,imdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497
2,3,Grumpier Old Men (1995),Comedy|Romance,113228
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885
4,5,Father of the Bride Part II (1995),Comedy,113041

In [58]:
# extract years 
moviesdf['year'] = moviesdf.title.str.extract(r'\((\d\d\d\d)\)', expand=False)

# clean title
moviesdf.title = moviesdf.title.str.replace(r'(\(\d+\))', '')
moviesdf.title = moviesdf.title.str.strip()

In [28]:
moviesdf.head()

,movieId,title,genres,imdbId,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",114709,1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",113497,1995
2,3,Grumpier Old Men,"[Comedy, Romance]",113228,1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",114885,1995
4,5,Father of the Bride Part II,[Comedy],113041,1995

## Genres

In [32]:
genres = set()
for row in moviesdf.genres:
    for g in row:
        genres.add(g)
        
genresdf = pd.DataFrame(list(genres), columns=['genre'])

In [59]:
def user_genre_preference_frequency(userId, genre):
    # num ratings
    userRatings = ratingsdf.loc[ratingsdf.userId==userId]
    
    movies = moviesdf.movieId.loc[moviesdf.genres.str.contains(genre)]
    
    userGenreRatings = userRatings.rating.loc[userRatings.movieId.isin(movies)].sum()
    
    
    
    return userGenreRatings/len(userRatings)

In [63]:
%%timeit
g=user_genre_preference_frequency(5,'Action')
g

6.51 ms ± 59.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)